@import '~bootstrap/scss/bootstrap';

.test {
    color: blue;
}

.nomPerso {
    color: white;
}

body {
    background-color: #4c4c4c;
}

.titre {
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    text-decoration: underline;
}

li {
    color: white;
}

a:hover {
    color: white;
}

label {
    color:white;
}
